<style>
        body {font-family: Arial, Helvetica, sans-serif;}
        * {box-sizing: border-box;}
        
        .input-container {
          display: -ms-flexbox; /* IE10 */
          display: flex;
          width: 100%;
          margin-bottom: 15px;
        }
        
        .icon {
          padding: 10px;
          background: dodgerblue;
          color: white;
          min-width: 50px;
          text-align: center;
        }
        
        .input-field {
          width: 100%;
          padding: 10px;
          outline: none;
        }
        
        .input-field:focus {
          border: 2px solid dodgerblue;
        }
        
        /* Set a style for the submit button */
        .btn {
          background-color: dodgerblue;
          color: white;
          padding: 15px 20px;
          border: none;
          cursor: pointer;
          width: 100%;
          opacity: 0.9;
        }
        
        .btn:hover {
          opacity: 1;
        }
        </style>
       
        
        <div>
                <form name="moduleDetail"  ng-controller="taskController" ng-submit="editTask()">
                        <div class="card-header"><strong>Update Task</strong><span class="close">&times;</span></div>
                        <div class="card-body card-block">
                            <div class="form-group">
                                <label for="company" class=" form-control-label"   >Task Name</label>
                                <input type="text" name="title" id="company"   placeholder="{{userData.title}}"  ng-model="userData.title" class="form-control">
                                <span style="color:red;" ng-show="moduleDetail.title.$dirty && moduleDetail.title.$invalid">Invalid Module Title</span>
                                
                            </div>
                            
                            <div class="form-group">
                                <label for="street" class=" form-control-label">Description</label>
                                <input type="text" id="street" placeholder="{{userData.description}}"  name="description" ng-model="userData.description" class="form-control">
                                <span style="color:red" ng-show="moduleDetail.description.$dirty && moduleDetail.description.$invalid">Invalid Description</span>
                               
         
                            </div>
                            <div class="form-group">
                              <label for="street" class=" form-control-label">Project Name</label>
                              <input type="text" id="street" placeholder="userData.projectId"  name="projectName" ng-model="userData.projectId" class="form-control">
                              <span style="color:red" ng-show="moduleDetail.projectName.$dirty && moduleDetail.projectName.$invalid">Invalid Project Name</span>
                             
       
                          </div>
                          <div class="form-group">
                                <label for="street" class=" form-control-label">Comment</label>
                                <input type="text" id="street" placeholder="{{userData.commentId}}"  name="comment" ng-model="userData.commentId" class="form-control">
                                <span style="color:red" ng-show="moduleDetail.comment.$dirty && moduleDetail.comment.$invalid">Invalid Comment</span>
                               
         
                            </div>
                            <button type="submit"  class="btn btn-outline-primary"> Update Task</button>
                        </div>
                        
         
                       
         
         
         
                        </form>
        </div>
        