<style>
        body {font-family: Arial, Helvetica, sans-serif;}
        * {box-sizing: border-box;}
        
        .input-container {
          display: -ms-flexbox; /* IE10 */
          display: flex;
          width: 100%;
          margin-bottom: 15px;
        }
        
        .icon {
          padding: 10px;
          background: dodgerblue;
          color: white;
          min-width: 50px;
          text-align: center;
        }
        
        .input-field {
          width: 100%;
          padding: 10px;
          outline: none;
        }
        
        .input-field:focus {
          border: 2px solid dodgerblue;
        }
        
        /* Set a style for the submit button */
        .btn {
          background-color: dodgerblue;
          color: white;
          padding: 15px 20px;
          border: none;
          cursor: pointer;
          width: 100%;
          opacity: 0.9;
        }
        
        .btn:hover {
          opacity: 1;
        }
        </style>
       
        
        <div>
                <form name="projectDetail"  ng-controller="listController" ng-submit="editProject()">
                        <div class="card-header"><strong>Update Project</strong><span class="close">&times;</span></div>
                        <div class="card-body card-block">
                            <div class="form-group">
                                <label for="company" class=" form-control-label"   >Project Name</label>
                                <input type="text" name="title" id="company"   placeholder="Enter Project Name"  ng-model="userData.title" class="form-control">
                                <span style="color:red;" ng-show="projectDetail.title.$dirty && projectDetail.title.$invalid">Invalid Project Title</span>
                                
                            </div>
                            <div class="form-group">
                                <label for="vat" class=" form-control-label">Client Name</label>
                                <input type="text" id="vat"  placeholder="Enter Client" ng-model= "userData.clientId"  name="client" class="form-control">
                                <span style="color:red;" ng-show="projectDetail.client.$dirty && projectDetail.client.$invalid">Invalid Name</span>
                                
                            </div>
                            <div class="form-group">
                                <label for="street" class=" form-control-label">Description</label>
                                <input type="text" id="street" placeholder="Enter the description"  name="description" ng-model="userData.description" class="form-control">
                                <span style="color:red" ng-show="projectDetail.description.$dirty && projectDetail.description.$invalid">Invalid Description</span>
                               
         
                            </div>
                            <div class="form-group">
                              <label for="street" class=" form-control-label">Status</label>
                              <input type="text" id="street" placeholder="Enter the Status"  name="description" ng-model="userData.status" class="form-control">
                              <span style="color:red" ng-show="projectDetail.description.$dirty && projectDetail.description.$invalid">Invalid status</span>
                             
       
                          </div>
                            <button type="submit"  class="btn btn-outline-primary"> Update Project</button>
                        </div>
                        
         
                       
         
         
         
                        </form>
        </div>
        