<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--Add Angular file-->
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script> 
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Add User to Taskify</title>
    <!-- Custom CSS -->
    <link href="dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
    .has-error {
   color: red;
   border: 1px solid red;
}

.has-success {
   color: black;
  border: 1px solid green;
}
   </style>
</head>

<body ng-app="mainApp" ng-controller="registerController">
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box">
                <div>
                    <div class="logo">
                        <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                        <h5 class="font-medium m-b-20">Add User</h5>
                    </div>
                    <!-- Form -->
                    <div class="row">
                        <div class="col-12">
                            <form class="form-horizontal m-t-20" name="userForm" ng-submit="addUser()">
                                <div class="form-group row ">
                                    <div class="col-12 ">
                                        <input class="form-control form-control-lg"
                                         type="text" required=" " placeholder="Name" ng-model="userData.name" pattern="[a-zA-Z ]{2,30}" name="name"
                                         ng-class="{'has-error' :  (userForm.name.$invalid&&userForm.name.$touched),'has-success' :  (!userForm.name.$invalid && userForm.name.$touched) }">
                                        
                                    
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input class="form-control form-control-lg" type="text" required=" " placeholder="Email" name="email" ng-model="userData.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                        ng-class="{'has-error' :  (userForm.email.$invalid&&userForm.email.$touched),'has-success' :  (!userForm.email.$invalid && userForm.email.$touched) }">
                                        
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input class="form-control form-control-lg" type="password" required=" " placeholder="Password" name="password" ng-model="userData.password"
                                        ng-class="{'has-error' :  (userForm.password.$invalid&&userForm.password.$touched),'has-success' :  (!userForm.password.$invalid && userForm.password.$touched) }">
                                        </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input class="form-control form-control-lg" type="text" name="phoneNo" 
                                        ng-class="{'has-error' :  (userForm.phoneNo.$invalid&&userForm.phoneNo.$touched),'has-success' :  (!userForm.phoneNo.$invalid && userForm.phoneNo.$touched) }" ng-model="userData.phoneNo"  pattern="[0-9]{10}" required=" " placeholder="Phone Number">
                                        
                                    </div>
                                </div>
                                <div class="form-group row">
                                        <div class="col-12 ">
                                            <input class="form-control form-control-lg" type="number" name="age" 
                                            ng-class="{'has-error' :  (userForm.age.$invalid&&userForm.age.$touched),'has-success' :  (!userForm.age.$invalid && userForm.age.$touched) }" ng-model="userData.age"  pattern="[0-9]{0,2}" placeholder="Age">
                                            
                                        </div>
                                    </div>
                                <div class="form-group row">
                                    <div class="col-md-12 ">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">I agree to all <a href="javascript:void(0)">Terms</a></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center ">
                                    <div class="col-xs-12 p-b-20 ">
                                        <button class="btn btn-block btn-lg btn-info " type="submit" ng-disabled = "userForm.email.$invalid 
                                        || userForm.password.$invalid ||
                                          userForm.name.$invalid || userForm.phoneNo.$invalid
                                        || userForm.age.$invalid">SIGN UP</button>
                                    </div>
                                </div>
                                <div class="form-group m-b-0 m-t-10 ">
                                    <div class="col-sm-12 text-center ">
                                        Already have an account? <a href="login.html " class="text-info m-l-5 "><b>Sign In</b></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="assets/libs/jquery/dist/jquery.min.js "></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js "></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
    $('[data-toggle="tooltip "]').tooltip();
    $(".preloader ").fadeOut();
    </script>
    <script>
    var mainApp = angular.module('mainApp', []);
    mainApp.controller('registerController', function($scope, $http) {
    
      
      var url = "/user/insert";
        $scope.addUser =   function(){
          $http.post(url,
         {userData: $scope.userData}
          ).then(function(response){
          console.log(response);
          console.log($scope.userData);
          if(response.data.error==="ValidationError"){
            Swal.fire({
                position: 'center',
                type: 'error',
                title: 'Email Already Exist',
                confirmButtonColor: '#3085d6',
                showConfirmButton: true,
              })
          }
          else{
            Swal.fire({
                position: 'center',
                type: 'success',
                title: 'User has been Added Successfully',
                confirmButtonColor: '#3085d6',
                showConfirmButton: true,
              }).then((result) => {
                if (result.value) {
                  window.location.href="login.html"
                }
              })
          }
         
        })
        }
        
    });
    </script>
</body>

</html>